body{
    overflow-x: hidden;
}
.center img{
    width: 1500px;
    position: relative;
    bottom: 50px;
    height: 850px;
}

.top-left{
    width: 65px;
    position: absolute;
    top: 30px;
    left: 30px;
}

@media (max-width:800px) { 
   html, body {
        overflow-x: hidden;
      }
     body {
        width:100%;
      }

    .center img{
        right: 205px;
        width: auto;
        height: 650px;
      
    }
    .top-left{
        top: 15px;
        left: 2px;
        width: 53px;
        z-index: 1;
    }
 }
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .center img{
        
        height: 900px;
    }
    }